<article class="article-card">
  <%= link_to article_path(article), class: "title link" do %>
    <h3 class="heading">
      <%= article.title %>
    </h3>
  <% end %>
  <h5 class="heading sub-title">
    <%= article.sub_title %>
  </h5>
  <p class="summary">
  <%= article.summary.truncate(450) %>
  </p>
  <div class="footer">
    <%= link_to article_path(article), class: "read-more" do %>
      Read more <i class="fa-solid fa-arrow-right"></i>
    <% end %>
    <span>
      <%= pluralize(article.likes.size, "Like") %>
    </span>
  </div>
</article>
