<article class="article">
  <%= link_to article_path(article), class: "article-title article-link" do %>
    <h3 class="article-heading">
      <%= article.title %>
    </h3>
  <% end %>
  <h5 class="article-heading sub-title">
    <%= article.sub_title %>
  </h5>
  <p class="article-summary">
  <%= article.summary.truncate(450) %>
  </p>
  <div class="article-footer">
    <%= link_to article_path(article), class: "read-more" do %>
      Read more <i class="fa-solid fa-arrow-right"></i>
    <% end %>
    <span>
      <%= pluralize(article.likes.count, "Like") %>
    </span>
  </div>
</article>
