<%= form_with model: article, id: "article-form", autocomplete: "off" do |f| %>
  <% if f.object.errors.any? %>
    <% f.object.errors.full_messages.each do |message| %>
      <div><%= message %></div>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sub_title %>
    <%= f.text_field :sub_title %>
  </div>
  <div class="field" data-controller="character-counter">
    <%= f.label :summary do %>
      <div class="article-summary-label">
        <span>Summary</span>
        <span>
          <strong data-character-counter-target="counter">---</strong><strong>/450</strong>
        </span>
      </div>
    <% end %>
    <%= f.text_area :summary, rows: 5, maxlength: 450, data: { "character-counter-target": "input" } %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>
  <div class="submit">
    <%= f.submit button_text, class: "btn" %>
  </div>
<% end %>
