<% content_for :title, @article.title %>
<% content_for :description, @article.summary %>
<% content_for :url, article_url(@article) %>
<% content_for :image, social_image(@article) %>
<% content_for :type, "article" %>

<div class="article-container">
  <div class="article-content">
    <h1><%= @article.title %></h1>
    <% if @article.sub_title %>
      <h3 class="sub_title"><%= @article.sub_title %></h3>
    <% end %>

    <div class="metadata">
      <div class="dates">
        <% if @article.published? %>
          <h5>Published: <%= @article.published_at.to_date.to_formatted_s(:long) %></h5>
          <% if @article.published_at.to_date < @article.updated_at.to_date %>
            <h5 class="edited">Edited: <%= @article.updated_at.to_date.to_formatted_s(:long) %></h5>
          <% end %>
        <% end %>
      </div>

      <div class="tags">
        <% @article.tags.each do |tag| %>
          <span class="tag"><%= tag.name.titlecase %></span>
        <% end %>
      </div>
    </div>

    <%= image_tag(@article.feature_image, class: "featured-image") if @article.feature_image.attached? %>

    <%= @article.content %>

    <%= turbo_frame_tag "article-likes" do %>
      <%= render "likes/like_article", article: @article %>
    <% end %>

    <% if user_signed_in? %>
      <br>
      <div class="actions">
        <%= link_to "Edit", edit_article_path(@article), class: "btn" %>
        <% unless @article.published? %>
          <%= button_to "Delete", article_path(@article), method: :delete, class: 'btn btn-danger', form: {data: {turbo_confirm: 'Are you sure you want to delete?'}} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
