<% content_for :title, @article.title %>
<% content_for :description, @article.summary %>
<% content_for :url, article_url(@article) %>
<% content_for :image, social_image(@article) %>
<% content_for :type, "article" %>

<div class="article-container">
  <div>
    <h1><%= @article.title %></h1>
    <h3><%= @article.sub_title %></h3>

    <% if @article.published? %>
      <h5><%= @article.published_at.to_formatted_s(:long) %></h5>
    <% end %>

    <%= image_tag(@article.feature_image) if @article.feature_image.attached? %>

    <div class="tags">
      <% @article.tags.each do |tag| %>
          <span class="tag"><%= tag.name.titlecase %></span>
      <% end %>
    </div>

    <%= @article.content %>

    <%= turbo_frame_tag "article-likes" do %>
      <%= render "likes/like_article", article: @article %>
    <% end %>

    <% if user_signed_in? %>
      <br>
      <div class="actions">
        <%= link_to "Edit", edit_article_path(@article), class: "btn" %>
        <%= button_to "Delete", article_path(@article), method: :delete, class: 'btn btn-danger', form: {data: {turbo_confirm: 'Are you sure you want to delete?'}} %>
      </div>
    <% end %>
  </div>
</div>
