<%= render "header" %>

<div class="about-container">
  <div class="about-me">
    <h3>About me</h3>
      <p>By day, you'll usually find me knee-deep in Ruby, happily wrangling code. But I’m always up for a little adventure into other programming languages—if it has syntax, I’m interested! Learning new languages and paradigms keeps me on my toes (and occasionally scratching my head).</p>
      <p>I call Taunton, in the beautiful southwest of the UK, home. When I’m not behind a screen, I’m either out riding the waves or wandering the countryside. Basically, if it’s outdoors, I’m in.</p>
    <h3>Background</h3>
     <p>I was born and raised in Wimbledon (I'm a big AFC wimbledon fan!).</p>
     <p>I originally studied International Business at Plymouth University. That allowed me to mix my studies with one of my main passions surfing. Once I graduated I moved back to London to work in advertising - working with large financial clients (I organised the advertising for the Oxford Cambridge boat race).</p>
     <p>In 2015, I decided that I wanted a change and studied web development at Makers Academy in London. Since then I have been working as a software developer and have been loving it!</p>
    <h3>Work Experience</h3>
      <p><b>2022-Present: Shopify</b> - Senior Software Engineer</p>
      <p><b>2019-2022: Immersive Labs</b> - Lead Backend Engineer</p>
      <p><b>2016-2019: Tagadab</b> - Software Engineer</p>
      <p><b>2014-2016: AML</b> - Production Executive</p>
    <h3>Favourite Languages to work with</h3>
    <div>
      <%= image_tag "ruby-logo.png", data: { title: "Ruby" }, alt: "Ruby Logo", title: "Ruby" %>
      <%= image_tag "elixir-logo.png", data: { title: "Elixir" }, alt: "Elixir Logo", title: "Elixir"  %>
      <%= image_tag "rust-logo.png", data: { title: "Rust" }, alt: "Rust Logo", title: "Rust"  %>
      <%= image_tag "js-logo.png", data: { title: "JavaScript" }, alt: "JavaScript Logo", title: "JavaScript"  %>
      <%= image_tag "elm-logo.png", data: { title: "Elm" }, alt: "Elm Logo", title: "Elm"  %>
    </div>
  </div>
</div>
