<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "vena.codes" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="<%= content_for(:description) || "A blog by Harry Venables a software developer, the blog primarily focuses on topics relating to programming and more specifically ruby." %>">
    <link rel="preload" href="/fonts/FiraCode-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/FiraCode-Bold.woff2" as="font" type="font/woff2" crossorigin>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/333069cdb7.js" crossorigin="anonymous" defer></script>
  </head>
  <body id="app">
    <%= render "layouts/header" %>
    <div class="content">
      <div class="left-gutter"></div>
      <div class="main-area">
        <% flash.each do |type, message| %>
          <div data-controller="flash" data-flash-target="message" class="flash-message <%= type %>">
            <span><%= message %></span>
            <span data-action="click->flash#hide" class="flash-close">×</span>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="right-gutter"></div>
    </div>
    <footer>
      <a href="https://x.com/HarryVenables" target="_blank">
        <i class="fa-brands fa-2x fa-twitter"></i>
      </a>
      <a href="https://github.com/hvenables" target="_blank">
        <i class="fa-brands fa-2x fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/harry-venables-28109986" target="_blank">
        <i class="fa-brands fa-2x fa-linkedin"></i>
      </a>
    </footer>
  </body>
</html>
