<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Harry Codes" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/333069cdb7.js" crossorigin="anonymous" defer></script>
  </head>
  <body id="app">
    <header>
      <div class="nav-container">
        <div class="logo">
          <%= link_to root_path do %>
            <h2>Harry Codes</h2>
          <% end %>
        </div>
        <nav class="nav-links">
          <ul>
            <li>
              <%= link_to "Blog", articles_path %>
            </li>
            <li><a href="#">About</a></li>
            <li>
              <%= link_to "Contact", contact_path %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="content">
      <div class="left-gutter"></div>
      <div class="main-area">
        <%= yield %>
      </div>
      <div class="right-gutter"></div>
    </div>
    <footer>
      <a href="https://x.com/HarryVenables" target="_blank">
        <i class="fa-brands fa-2x fa-twitter"></i>
      </a>
      <a href="https://github.com/hvenables" target="_blank">
        <i class="fa-brands fa-2x fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/harry-venables-28109986" target="_blank">
        <i class="fa-brands fa-2x fa-linkedin"></i>
      </a>
    </footer>
  </body>
</html>
